@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
  @import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.preserve {
  position: relative;
}
.preserve img {
  transform: rotateY(0deg);
  transition-timing-function: ease-in-out;
  transition-duration: 0.8s;
  transition-property: transform, opacity;
}

.preserve .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  display: grid;
  place-items: center;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotateX(-180deg);
  transition-timing-function: ease-in-out;
  transition-duration: 0.8s;
  transition-property: transform, opacity;
  background-color: black;
  color: white;
  z-index: 2;
}
.preserve:hover > img {
  transform: rotateX(180deg);
}

.preserve:hover > .back {
  opacity: 1;
  transform: rotateX(0deg);
  z-index: 1;
  pointer-events: all;
}
.booking {
  background-color: rgb(93, 79, 255);
  color: white;
  width: 70%;
  height: 45px;
  text-decoration: none;
  border-radius: 10px;
  display: grid;
  place-items: center;
}
